{# src/Acme/DemoBundle/Resources/views/Form/fields.html.twig #}
{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block field_widget %}
    {% if type is defined and type == 'file' %}
        {% if sonata_admin.value is defined and sonata_admin.value is not empty %}
            <p>
            {% if sonata_admin.value|lower[-3:] in ['jpg', 'png', 'gif'] %}
                <a href="{{ asset(file_url(sonata_admin.admin.subject, sonata_admin.name)) }}"><img title="(Current: {{ sonata_admin.value }})" alt="" src="{{ file_url(sonata_admin.admin.subject, sonata_admin.name)|imagine_filter('cms') }}"></a>
            {% endif %}
            </p>
            {{ block('form_widget_simple') }}
            <p>
                <small>Selecting a file will replace the current file</small>
            </p>
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock %}