{% block zicht_file_widget %}

    {% if file_url is defined and show_current_file %}
        <p>
            <a href="{{ asset(file_url) }}">
                {% if file_url|lower[-3:] in ['jpg', 'jpeg', 'png', 'gif'] %}
                    <img title="(Current: {{ file_url }})" alt="" src="{{ file_url|imagine_filter('cms') }}">
                {% else %}
                    {{ file_url }}
                {% endif %}
            </a>
        </p>
    {% endif %}

    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}

            {{ form_row(form.upload_file) }}
            {{ form_row(form.hash) }}
            {{ form_row(form.filename) }}

            {% if file_url is defined %}
                {{ form_row(form.remove) }}
                <p><small>{{ "Selecting a file will replace the current file"|trans }}</small></p>
            {% else %}
                {% do form.remove.setRendered %} {# not sure there is a better way to do this #}
            {% endif %}

            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock %}