{% block zicht_file_widget %}

    {% if file_url is defined and show_current_file %}
        <p>
            <a href="{{ asset(file_url) }}">
                {% if file_url|lower[-3:] in ['jpg', 'jpeg', 'png', 'gif'] %}
                    <img title="(Current: {{ file_url }})" alt="" src="{{ file_url|imagine_filter('cms') }}">
                {% else %}
                    {{ file_url }}
                {% endif %}
            </a>
        </p>
    {% endif %}

    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}

            {{ form_widget(form.upload_file) }}
            {{ form_widget(form.hash) }} {# hidden field #}
            {{ form_widget(form.filename) }} {# hidden field #}

            {% if form.remove is defined %}
                {% if file_url is defined %}
                    <p><small>{{ "zicht_filemanager.remove_file_note"|trans({}, translation_domain) }}</small></p>
                    {{ form_widget(form.remove) }}<span style="margin-left:7px;">{{ form_label(form.remove) }}</span>
                {% else %}
                    {% do form.remove.setRendered %}
                    {% do form.select.setRendered %} {# not sure there is a better way to do this #}
                {% endif %}
            {% endif %}

            {% if form.keep_previous_filename is defined %}
                {% if file_url is defined %}
                    <p><small>{{ "zicht_filemanager.keep_previous_filename_note"|trans({}, translation_domain) }}</small></p>
                    {{ form_widget(form.keep_previous_filename) }}<span style="margin-left:7px;">{{ form_label(form.keep_previous_filename) }}</span>
                {% else %}
                    {% do form.keep_previous_filename.setRendered %}
                {% endif %}
            {% endif %}

            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock %}
