{% block zicht_file_widget %}
    {% if value and show_current_file  %}
        <p>
            <a href="{{ asset(file_url(entity, property, value)) }}">
                {% if value|lower[-3:] in ['jpg', 'jpeg', 'png', 'gif'] %}
                    <img title="(Current: {{ value }})" alt="" src="{{ file_url(entity, property, value)|imagine_filter('cms') }}">
                {% else %}
                    {{ file_url(entity, property, value) }}
                {% endif %}
            </a>
        </p>
        {{ block('form_widget_simple') }}
        <p>
            <small>Selecting a file will replace the current file</small>
        </p>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock %}

